{% extends 'base.html.twig' %}
{% block title %}
    | show
{% endblock %}
{% block body %}
    <div class="content">
        Znaleziono <b> {{ rates|length }} </b> kursy walut z dnia {{ effectiveDate|date("Y-m-d") }}.<br><br>
    </div>

    <table>
       <tr><td><b>Waluta</b></td><td><b>Kurs</b></td><td><b>Oznaczenie</b></td></tr>

    {% for rate in rates %}
        <tr>
            <td> {{ rate.currency }}  </td><td> {{ rate.mid }} </td> <td>{{ rate.code }}</td>
        </tr>
    {% endfor %}

    </table>

{% endblock %}