{% extends 'base.html.twig' %}
{% block title %}
    | show
{% endblock %}
{% block body %}
    <div class="content">
        Znaleziono <b> {{ json|length }} </b> wpisów z dnia {{ date|date("m/d/Y") }}.<br><br>
        Aby uzyskać bardziej szczegółowe informacje kliknij wybraną pozycję
    </div>
    {% for content in json %}
    {% for x in content %}
        {% for d in x %}
        <a href="{{ path('app_show') }}">
            {# <strong> {{ content.currency }} </strong><strong> {{ content.code }} </strong> {{ content.mid }} #}
            {{ d.currency }}   {{ d.code }} {{ d.mid }}
        </a></div><br>
    {% endfor %}
    {% endfor %}
    {% endfor %}

{% endblock %}